# Signed Graph Network Analysis

## Setup

In [6]:
import matplotlib.pyplot as plt
import networkx as nx
import numpy as np

In [13]:
graph_df = pd.read_csv("data/soc-sign-bitcoinalpha.csv", header=None)
graph_df.columns = ["source", "target", "weight", "time"]
graph_df

       source  target  weight        time
0        7188       1      10  1407470400
1         430       1      10  1376539200
2        3134       1      10  1369713600
3        3026       1      10  1350014400
4        3010       1      10  1347854400
...       ...     ...     ...         ...
24181    7604    7601      10  1364270400
24182    7601    7604      10  1364270400
24183    7604    7602      10  1364270400
24184    7602    7604      10  1364270400
24185    7604    7603     -10  1364270400

[24186 rows x 4 columns]

In [15]:
# read weighted graph from csv file
G = nx.from_pandas_edgelist(graph_df, source="source", target="target", edge_attr="weight", create_using=nx.DiGraph)

## Analysis